/*
** Fonts
** -----------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@font-face {
   font-family: 'Quirlycues';
   src: url(../fonts/Quirlycues.ttf);
}

/*
** Base html
** -----------------------------------------------------------------------------
*/
:root {
	/*Herb
		--themecolor: #626E60;
		--themecolor2: #869683;
		--themecolortransp1: #626E6026;
		--themecolortransp2: #626E60C0;
		--bordercolor: #343B33;
		--Schriftfarbe: #444444;
		--Schriftfarbe2: #f9f9f9;
		--SchriftfarbeKategorien: #e4e4e4;
		--backgroundcolor: #f1f1f1;
		--backgroundcolor2: #f9f9f9;
	*/
	/*Herbdark*/
		--themecolor: #626E60;
		--themecolor2: #869683;
		--themecolortransp1: #626E6026;
		--themecolortransp2: #626E60C0;
		--bordercolor: #343B33;
		--Schriftfarbe: #e4e4e4;
		--Schriftfarbe2: #f9f9f9;
		--SchriftfarbeKategorien: #e4e4e4;
		--backgroundcolor: #444444;
		--backgroundcolor2: #494949;
		
	
	/*Terracotta
		--themecolor: #945D60;
		--themecolor2: #BA826C;
		--themecolortransp1: #945D6026;
		--themecolortransp2: #945D60C0;
		--bordercolor: #613D3F;
		--Schriftfarbe: #444444;
		--Schriftfarbe2: #f9f9f9;
		--SchriftfarbeKategorien: #e4e4e4;
		--backgroundcolor: #f1f1f1;
		--backgroundcolor2: #f9f9f9;
	*/	
}

/*colors
Terracotta 	#945D60 themecolor2 BA826C themecolortransp1 #945D6026 themecolortransp2 #945D60C0 border #613D3F 
Herb 		#626E60	themecolor2 #869683 themecolortransp1 #626E6026 themecolortransp2 #626E60C0 border #343B33 
Chilli #AF473C
Charcoal #3c3c3c
Schriftfarbe: #e4e4e4 weiß/gräulich oder schwarz: #444
Schriftfarbe2: #f9f9f9
backgroundcolor: #444444 dunkelgrau oder weiß: #f1f1f1
backgroundcolor2: #494949 oder weiß: #f9f9f9
*/

body {
  background-color: var(--themecolor);
  color: #666;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.50;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.vertical-align {
  display: flex;
  align-items: center;
}
a {
  color: var(--themecolor2);
  text-shadow: 0 1px 0 var(--themecolortransp1);
}
a:hover {
  color: var(--themecolor);
  text-decoration: underline;
}
/*
** Splash Screen
** -----------------------------------------------------------------------------
*/

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgroundcolor);
  z-index: 42;
}

/*
** Website Logo
** -----------------------------------------------------------------------------
*/

#logo {
  width: 100%;
  min-height: 250px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:
    radial-gradient(var(--themecolortransp1), var(--themecolortransp2)), 
	url("../images/icons/kitchen-banner.jpg");
}
#logo img {
  height: 100px;
  width: auto;
  margin-top: 24px;
}
#logo img:hover {
	color: var(--themecolor2);
	margin-top: 16px;
	height: 108px;
}
#logo h1 {
  font-family: 'Quirlycues';
  font-size: 72px;
  font-weight: normal;
  padding-top: 24px;
  color: var(--Schriftfarbe2);
}
#logo a {
  color: var(--Schriftfarbe2);
  position: relative;
  display: inline-block;
}

/*
** Recipes Categories
** -----------------------------------------------------------------------------
*/

#categories {
  background-color: var(--backgroundcolor);									/*changed*/
  color: var(--SchriftfarbeKategorien);											/*changed*/
  padding-top: 12px;
  padding-bottom: 24px;
}
#categories h2 {
  color: var(--Schriftfarbe);											/*changed*/
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin-bottom: 12px;
}
#categories a {
							/*changed*/
  color: var(--SchriftfarbeKategorien);											/*changed*/
  padding-top: 12px;
  padding-bottom: 24px;
}
.category-item {
  border: 2px;
  border-color: var(--bordercolor);
  border-radius: 2.5px;
  border-style: solid !important;
  background-color: var(--themecolor);
  color: var(--SchriftfarbeKategorien);											/*changed*/
  font-weight: bold;
  margin-top: 6px;
}
.category-item i {
  padding-top: 6px;
  padding-bottom: 3px;
}
.show-all {
  margin-top: 12px;
}

/*
** Recipes Items
** -----------------------------------------------------------------------------
*/

#items {
  background-color: var(--backgroundcolor);									/*changed*/
  color: var(--Schriftfarbe);											/*changed*/
  padding-top: 12px;
  padding-bottom: 24px;
}
#items h2 {
  background-color: var(--backgroundcolor);									/*changed*/
  color: var(--Schriftfarbe);											/*changed*/
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin-bottom: 12px;
}
#items h3 {
  background-color: var(--backgroundcolor);									/*changed*/
  color: var(--Schriftfarbe);											/*changed*/
  margin-top: 12px;
}
.recipe-item {
  background-color: var(--backgroundcolor);									/*changed*/
  color: var(--Schriftfarbe);											/*changed*/
  margin-bottom: 24px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-item img {
  width: 100%;
  height: auto;
}

/*
** Recipe Section
** -----------------------------------------------------------------------------
*/

#recipe {
  background-color: var(--backgroundcolor);
  padding-top: 12px;
  padding-bottom: 24px;
}
#recipe h2 {
  color: var(--Schriftfarbe);
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin-bottom: 24px;
  margin-top: 12px;
}
#recipe h3 {
  color: var(--Schriftfarbe);
  background-color: var(--backgroundcolor);
  margin-top: 24px;
}
.recipe-picture {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
  margin-top: 6px;
  -webkit-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
  -moz-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
  box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
}
.recipe-info .row {
  margin-top: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--Schriftfarbe2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-info i {
  color: var(--themecolor);
}
.recipe-ingredients {
  background-color: var(--Schriftfarbe2);
  margin-top: 24px;
}
.ingredients-list dl {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.ingredients-list dt {
  width: 20%;
  float: left;
  margin: 0 0 8px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 37px;
  text-align: right;
  color: var(--Schriftfarbe);
  background: var(--backgroundcolor2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.ingredients-list dd {
  width: 80%;
  float: left;
  margin: 0 0 8px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 37px;
  font-weight: 600;
  background: var(--themecolor);
  color: var(--Schriftfarbe2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.ingredients-list-vermutlich dl {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.ingredients-list-vermutlich dt {
  width: 20%;
  float: left;
  margin: 0 0 8px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 37px;
  text-align: right;
  color: var(--Schriftfarbe);
  background: var(--backgroundcolor2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.ingredients-list-vermutlich dd {
  width: 80%;
  float: left;
  margin: 0 0 8px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 37px;
  font-weight: 600;
  color: var(--Schriftfarbe);
  background: var(--backgroundcolor2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.ingredients-list-minor dl {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.ingredients-list-minor dt {
  width: 20%;
  float: left;
  margin: 0 0 8px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 37px;
  text-align: right;
  color: var(--Schriftfarbe);
  background: var(--backgroundcolor2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.ingredients-list-minor dd {
  width: 80%;
  float: left;
  margin: 0 0 8px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 37px;
  font-weight: 600;
  background: var(--themecolor2);
  color: var(--Schriftfarbe2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-directions ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin-bottom: 4em;
	color: var(--Schriftfarbe);
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.recipe-directions ol ol {
    margin: 0 0 0 2em;
}
.recipe-directions li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
	color: var(--Schriftfarbe);
    background: var(--backgroundcolor2);
    text-decoration: none;
    transition: all .3s ease-out;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-directions li:hover{
    background: var(--backgroundcolor);
}
.recipe-directions li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: var(--themecolor);
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--Schriftfarbe2);
}
.recipe-directions li:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
.recipe-directions li:hover:after{
    left: -.5em;
    border-left-color: var(--themecolor);
}

/*
** Website Footer
** -----------------------------------------------------------------------------
*/

footer {
  background-color: var(--themecolor);
  color: var(--Schriftfarbe2);
  margin-bottom: 24px;
  margin-top: 24px;
}
.footer-about {
  margin-bottom: 24px;
  font-style: italic;
}
.footer-about a {
  color: var(--Schriftfarbe2);
  font-weight: bold;
}
.footer-author {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.footer-author a {
  color: var(--Schriftfarbe2);
  font-weight: bold;
}